<!DOCTYPE html>
<html>
  <head>
    <title>FitHub | Login</title>
  </head>
  <body>
    <br>
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6">
      <div class="panel">
        <div class="panel-body">
          <h2 class="text-center">Log in to FitHub</h2>
            <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field has_success">
                <%= f.email_field :email, autofocus: true %>
              </div>

              <div class="field">
                <%= f.password_field :password, autocomplete: "off" %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                </div>
              <% end -%>

              <div class="actions">
                <%= f.submit "Log In", class: "btn btn-default btn-lg" %>
              </div>
            <% end %>
            <br>
          <center>
            <%= render "users/shared/links" %>
          </center>
        </div>
      </div>
    </div>
  </body>
</html>