<!DOCTYPE html>
<html>
<head>
  <title><%= @user.fname %> <%= @user.lname %></title>
  <link rel="stylesheet" type="text/css" href="jquery.mmenu.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/sidebar.css">
  <link rel="stylesheet" type="text/css" href="/app/assets/hook/hook.css">
</head>
  <body>
  <div class="container-fluid">
  <div class="row" id="header">
    <!-- content -->
    <% if flash.alert || flash.notice %>
    <div class="container">
      <div id="flash">
        <% if flash.alert %>
            <h6 class="alert alert-danger alert-dismissible" role="alert">
                <%= flash.alert %>
            </h6>
        <% end %>
      </div>
      <div id="notice">
        <% if flash.notice %>
                <h6 class="alert alert-success alert-dismissible" role="alert">
                    <%= flash.notice %>
                </h6>
        <% end %>
      </div>
    </div>
    <% end %>
    <div class="container">
    <br>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">

          <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
            <% if @user.fitbit_id != nil %>
              <p>
                <%= @todays_cals_float %><br>
                <%= @daily_goal_cals_float %><br>
                <%= @percentOfCals %><br>
                <%= @todays_steps_float %><br>
                <%= @daily_goal_steps_float %><br>
                <%= @percentOfSteps %><br>
                <%= @todays_dist_float %><br>
                <%= @daily_goal_dist_float %><br>
                <%= @percentOfDist %><br>
                <%= @percentOfSleep %>
              </p>
            <% end %>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            
            <!-- Profile Picture -->
            <a type="button" data-toggle="modal" data-target="#myModal" class="btn">
              <% if @user.fitbit_image != nil %>
                <%= image_tag @user.fitbit_image, size: "275", class: "img img-thumbnail img-circle profile-pic img-responsive" %>
              <% elsif @user.avatar_file_name != nil %>
                <%= image_tag @user.avatar.url(:medium), size: "275", class: "img img-thumbnail img-circle profile-pic" %>
              <% elsif @user.image != nil %>
                <%= image_tag @user.image, size: "275", class: "img img-thumbnail img-circle profile-pic" %>
              <% else %>
                <%= image_tag "https://s3-us-west-1.amazonaws.com/fithub-development/no-user-image-square.jpg", size: "275", class: "img img-thumbnail img-responsive img-circle profile-pic" %>
              <% end %>
            </a>
            <br>
            <!-- Profile Picture END -->

            <!-- Social Buttons -->
            <% if @user.fb_link != nil %>
              <%= link_to @user.fb_link, class: "btn" do %>
                <i class="fa fa-facebook-official fa-3x" style="color: #3b5998;"></i>
              <% end %>
            <% else %>
            <% end %>

            <% if @user.tw_link != nil %>
              <%= link_to @user.tw_link, class: "btn" do %>
                <i class="fa fa-twitter-square fa-3x" style="color: #4793b9;"></i>
              <% end %>

            <% else %>
            <% end %> 

            <% if @user.ig_link != nil %>
              <%= link_to @user.ig_link, class: "btn btn-lg" do %>
                <i class="fa fa-instagram fa-3x" style="color: #004f7e;"></i>
              <% end %>
            <% else %>
            <% end %>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <% if @user.about != nil %>
              <blockquote>
                <p class="lead">
                  <%= @user.about%>
                </p>
              </blockquote>
            <% end %>
            <br>
            <br>
            <br>
            <br>
            
            <% if user_signed_in? && current_user.id == @user.id%>
              <%= link_to 'Edit', edit_user_registration_path(current_user), class: "btn btn-default pull-right" %>
            <% end %>
          </div>
        </div><!-- .row -->
        <br> 
      </div>
    </div>
    </div>
         <br>
         <div class="container">
           <!-- 2nd Navbar --> 
           <!--<div class="btn-group btn-group-justified">
            <a class="btn btn-default btn-lg"><i class="fa fa-refresh fa-2x"></i></a>
            <a class="btn btn-default btn-lg btn-block active" href="#today" role="button" aria-controls="info" data-toggle="button">Today</a>
            <a class="btn btn-default btn-lg btn-block" href="#week" role="button" aria-controls="info" data-toggle="button">Week</a>
            <a class="btn btn-default btn-lg btn-block" href="#month" role="button" aria-controls="info" data-toggle="button">Month</a>
            <a class="btn btn-default btn-lg btn-block" href="#progress" role="button" aria-controls="info" data-toggle="button">Progress</a> 
          </div> -->
            <div class="tabpanel" role="tablist">
              <div class="btn-group btn-group-justified">
                <a id="refresh-btn" role="button" class="btn btn-default"><i class="fa fa-refresh fa-2x"></i></a>
                <a id="today-btn" href="#today" role="pill" aria-controls="overview" data-toggle="pill" class="btn btn-default active">Today</a>
                <a id="week-btn" href="#week" role="pill" aria-controls="info" data-toggle="pill" class="btn btn-default">Week</a>
                <a id="month-btn" href="#month" role="pill" aria-controls="data" data-toggle="pill" class="btn btn-default">Month</a>
              </div>
            </div>
          <br>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="tab-content">
              <div role="pillpanel" class="tab-pane fade in active" id="today">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="glyphicon glyphicon-fire fa-5x"></i></center>
                      <h3 class="text-center">Calories</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfCals %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfCals %>">
                        <span><%= @percentOfCals %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">               
                 <div class="panel">
                   <div class="panel-heading"></div>
                   <div class="panel-body">
                    <center><i class="fa fa-heartbeat fa-5x"></i></center>
                    <h3 class="text-center">Steps</h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfSteps %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfSteps %>">
                        <span><%= @percentOfSteps %></span>
                      </div>
                    </div>
                   </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bicycle fa-5x"></i></center>
                      <h3 class="text-center">Miles</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfDist %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfDist %>">
                          <span><%= @percentOfDist %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bed fa-5x"></i></center>
                      <h3 class="text-center">Sleep</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfDist %> - '%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfSleep %>">
                          <span class=""><%= @percentOfSleep %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
              </div>
              <div role="pillpanel" class="tab-pane fade" id="week">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="glyphicon glyphicon-fire fa-5x"></i></center>
                      <h3 class="text-center">Calories</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfCals %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfCals %>">
                        <span><%= @percentOfCals %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">               
                 <div class="panel">
                   <div class="panel-heading"></div>
                   <div class="panel-body">
                    <center><i class="fa fa-heartbeat fa-5x"></i></center>
                    <h3 class="text-center">Steps</h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfSteps %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfSteps %>">
                        <span><%= @percentOfSteps %></span>
                      </div>
                    </div>
                   </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bicycle fa-5x"></i></center>
                      <h3 class="text-center">Miles</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfDist %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfDist %>">
                          <span><%= @percentOfDist %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bed fa-5x"></i></center>
                      <h3 class="text-center">Sleep</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfDist %> - '%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfSleep %>">
                          <span class=""><%= @percentOfSleep %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
              </div>

              <div role="pillpanel" class="tab-pane fade" id="month">
                                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="glyphicon glyphicon-fire fa-5x"></i></center>
                      <h3 class="text-center">Calories</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfCals %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfCals %>">
                        <span><%= @percentOfCals %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">               
                 <div class="panel">
                   <div class="panel-heading"></div>
                   <div class="panel-body">
                    <center><i class="fa fa-heartbeat fa-5x"></i></center>
                    <h3 class="text-center">Steps</h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfSteps %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfSteps %>">
                        <span><%= @percentOfSteps %></span>
                      </div>
                    </div>
                   </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bicycle fa-5x"></i></center>
                      <h3 class="text-center">Miles</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfDist %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfDist %>">
                          <span><%= @percentOfDist %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bed fa-5x"></i></center>
                      <h3 class="text-center">Sleep</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfDist %> - '%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfSleep %>">
                          <span class=""><%= @percentOfSleep %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <br>

        </div><!-- /.container -->
        </div><!-- /.container-fluid -->

     <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Displaying Profile Pic -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close fa-2x"></i></button>
            <% if @user.fitbit_image != nil %>
              <center><%= image_tag @user.fitbit_image, size: "275", class: "img img-thumbnail img-circle profile-pic" %></center>
            <% elsif @user.avatar_file_name != nil %>
                <center><%= image_tag @user.avatar.url(:medium), size: "100%", class: "img img-responsive img-thumbnail img-circle" %></center>
            <% elsif @user.image != nil %>
                <center><%= image_tag @user.image, width: "100%", class: "img img-responsive img-circle img-thumbnail" %></center>
            <% else %>
                <center><%= image_tag "https://s3-us-west-1.amazonaws.com/fithub-development/no-user-image-square.jpg", size: "275", class: "img img-responsive img-thumbnail img-circle" %></center>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!--Modal End -->

    <% javascript_include_tag "/hook/mousewheel.js" %>
    <% javascript_include_tag "/hook/hook.js" %>

    <script type="text/javascript">
      $('[data-toggle=dropdown]').dropdown()
      $(document).ready(function(){
        setTimeout(function(){
          $('#flash').remove();
        }, 5000);
       })

      $(document).ready(function(){
        setTimeout(function(){
          $('#notice').remove();
        }, 5000);
       })
    </script><!-- Flash Toggle & Alert Toggle -->

    <script type="text/javascript">
      $('#hook').hook();
    </script>
    <script type="text/javascript" src="jquery.mmenu.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('#my-menu').mmenu();
      });
    </script>
    <script type="text/javascript">
      $(document).ready(function() {
        $('[data-toggle=offcanvas]').click(function() {
          $('.row-offcanvas').toggleClass('active');
        });
      });
    </script>
    <script type="text/javascript">
      function htmlbodyHeightUpdate(){
    var height3 = $( window ).height()
    var height1 = $('.nav').height()+50
    height2 = $('.main').height()
    if(height2 > height3){
      $('html').height(Math.max(height1,height3,height2)+10);
      $('body').height(Math.max(height1,height3,height2)+10);
    }
    else
    {
      $('html').height(Math.max(height1,height3,height2));
      $('body').height(Math.max(height1,height3,height2));
    }
    
  }
  $(document).ready(function () {
    htmlbodyHeightUpdate()
    $( window ).resize(function() {
      htmlbodyHeightUpdate()
    });
    $( window ).scroll(function() {
      height2 = $('.main').height()
        htmlbodyHeightUpdate()
    });
  });
    </script>
  </body>
</html>