<!DOCTYPE html>
<html>
<head>
  <title><%= @user.fname %> <%= @user.lname %></title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.js"></script>
  <link rel="stylesheet" type="text/css" href="/app/assets/stylesheets/sidebar.css">
</head>
  <body>
  <div class="container-fluid">
  <div class="row" id="header">
    <!-- content -->
    <% if flash.alert || flash.notice %>
    <div class="container">
      <div id="flash">
        <% if flash.alert %>
            <h6 class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash.alert %>
            </h6>
        <% end %>
      </div>
      <div id="notice">
        <% if flash.notice %>
            <h6 class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <%= flash.notice %>
            </h6>
        <% end %>
      </div>
    </div>
    <% end %>

    <div class="container">
    <br>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">

          <div class="hidden-xs hidden-sm col-md-4 col-lg-4">

          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
            
            <!-- Profile Picture -->
            <a type="button" data-toggle="modal" data-target="#myModal" class="btn">
              <% if @user.avatar_file_name %>
                <%= image_tag @user.avatar.url(:medium), size: "225", class: "img img-thumbnail img-circle profile-pic" %>
              <% elsif @user.image %>
                <%= image_tag @user.image, size: "225", class: "img img-thumbnail img-circle profile-pic" %>
              <% elsif @user.fitbit_image %>
                <%= image_tag @user.fitbit_image, size: "225", class: "img img-thumbnail img-circle profile-pic img-responsive" %>
              <% else %>
                <%= image_tag "https://s3-us-west-1.amazonaws.com/fithub-development/no-user-image-square.jpg", size: "225", class: "img img-thumbnail img-responsive img-circle profile-pic" %>
              <% end %>
            </a>
            <br>
            <!-- Profile Picture END -->
            <% if @user.fb_link != nil || @user.tw_link != nil || @user.ig_link != nil %>
              <!--<div class="panel">
                <div class="panel-body">
                <!-- Social Buttons -->
                <% if @user.fb_link != nil %>
                  <%= link_to @user.fb_link, class: "btn" do %>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x" style="color: #3b5998;"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i> <!--Facebook-->
                    </span>
                  <% end %>
                <% else %>
                <% end %>
              
                <% if @user.tw_link != nil %>
                  <%= link_to @user.tw_link, class: "btn" do %>
                    <i class="fa fa-twitter-square fa-2x" style="color: #4793b9;"></i>
                  <% end %>

                <% else %>
                <% end %> 
                
                <% if @user.ig_link != nil %>
                  <%= link_to @user.ig_link, class: "btn btn-lg" do %>
                    <i class="fa fa-instagram fa-2x" style="color: #004f7e;"></i>
                  <% end %>
                <% else %>
                <% end %>
                <!--</div>
              </div>-->
            <% end %>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <!--<% if @user.about %>
              <blockquote>
                <p class="lead">
                  <%= @user.about %>
                </p>
              </blockquote>
            <% end %>-->
            <br>
            <br>
            <br>
            <br>
            <% if admin_signed_in? %>
              <div class="pull-right" id="add-to-roster">
                <%= bootstrap_form_for @user do |f| %>
                  <%= f.text_field :admin_id, value: current_admin.id, class: "hidden", hide_label: true  %>
                  <%= f.submit "Add To Roster", class: "btn btn-default" %>
                <% end %>
              </div>
            <% end %>
          </div>
        </div><!-- .row -->
        <br> 
      </div>
    </div>
    </div>
         <br>
         <div class="container">
           <!-- 2nd Navbar --> 
           <!--<div class="btn-group btn-group-justified">
            <a class="btn btn-default btn-lg"><i class="fa fa-refresh fa-2x"></i></a>
            <a class="btn btn-default btn-lg btn-block active" href="#today" role="button" aria-controls="info" data-toggle="button">Today</a>
            <a class="btn btn-default btn-lg btn-block" href="#week" role="button" aria-controls="info" data-toggle="button">Week</a>
            <a class="btn btn-default btn-lg btn-block" href="#month" role="button" aria-controls="info" data-toggle="button">Month</a>
            <a class="btn btn-default btn-lg btn-block" href="#progress" role="button" aria-controls="info" data-toggle="button">Progress</a> 
          </div> -->
            <div class="tabpanel" role="tablist">
              <div class="btn-group btn-group-justified">
                <!--<a id="refresh-btn" class="btn btn-default"><i class="fa fa-refresh fa-2x"></i></a>-->
                <%= link_to refresh_path, class: 'btn btn-default' do %>
                  <i class="fa fa-refresh fa-2x"></i>
                <% end %>
                <a id="today-btn" href="#today" role="pill" aria-controls="overview" data-toggle="pill" class="btn btn-default active" onclick="swapActiveButton('today-btn');">Today</a>
                <a id="month-btn" href="#month" role="pill" aria-controls="data" data-toggle="pill" class="btn btn-default" onclick="swapActiveButton('month-btn');">Month</a>
                <!--<a id="bonus-btn" href="#bonus" role="pill" aria-controls="info" data-toggle="pill" class="btn btn-default" onclick="swapActiveButton('bonus-btn');">Bonus</a>-->
              </div>
            </div>
          <br>
          <!-- Daily Panel -->
          <!-- Todays Cals -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="tab-content">
            <% if @user.fitbit_id %>
              <div role="pillpanel" class="tab-pane fade in active" id="today">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="glyphicon glyphicon-fire fa-5x text-warning"></i></center>
                      <h3 class="text-center"><%= @todays_cals_float.to_i %> calories</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfCals %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfTodaysCals %>">
                        <span><%= @percentOfTodaysCals %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <!-- Todays Steps -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">               
                 <div class="panel">
                   <div class="panel-heading"></div>
                   <div class="panel-body">
                    <center><i class="fa fa-heartbeat fa-5x text-success"></i></center>
                    <h3 class="text-center"><%= @todays_steps_float.to_i %> steps</h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfSteps %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfTodaysSteps %>">
                        <span><%= @percentOfTodaysSteps %></span>
                      </div>
                    </div>
                   </div>
                 </div>
                </div>
                <!-- Todays Dist -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bicycle fa-5x text-danger"></i></center>
                      <h3 class="text-center"><%= @todays_dist_float.round(2) %> miles</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfDist %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfTodaysDist %>">
                          <span><%= @percentOfTodaysDist %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <!-- Todays Sleep -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bed fa-5x text-info"></i></center>
                      <h3 class="text-center"><%= @percentOfTodaysSleep %> sleep</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfDist %> - '%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfTodaysSleep %>">
                          <span class=""><%= @percentOfTodaysSleep %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
              </div>

              <!-- Monthly Panel -->
              <!-- Months Cals -->
              <div role="pillpanel" class="tab-pane fade" id="month">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="glyphicon glyphicon-fire fa-5x text-warning"></i></center>
                      <h3 class="text-center"><%= @months_cals_float.to_i %> calories</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfMonthsCals %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfMonthsCals %>">
                        <span><%= @percentOfMonthsCals %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <!-- Months Steps -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">               
                 <div class="panel">
                   <div class="panel-heading"></div>
                   <div class="panel-body">
                    <center><i class="fa fa-heartbeat fa-5x text-success"></i></center>
                    <h3 class="text-center"><%= @months_steps_float.to_i %> steps</h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfMonthsSteps %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfMonthsSteps %>">
                        <span><%= @percentOfMonthsSteps %></span>
                      </div>
                    </div>
                   </div>
                 </div>
                </div>
                <!-- Months Dist -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bicycle fa-5x text-danger"></i></center>
                      <h3 class="text-center"><%= @months_dist_float.to_f.round(2) %> miles</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfMonthsDist %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfMonthsDist %>">
                          <span><%= @percentOfMonthsDist %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <!-- Months Sleep -->
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bed fa-5x text-info"></i></center>
                      <h3 class="text-center"><%= @percentOfMonthsSleep %> sleep</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfMonthsSleep %> - '%'" aria-valuemin="0" aria-valuemax="100" style="width: <%= @percentOfMonthsSleep %>">
                          <span class=""><%= @percentOfMonthsSleep %></span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
              </div><!-- Monthly Panel END -->

              <!-- Bonus Panel -->
              <!-- Weeks Cals 
              <div role="pillpanel" class="tab-pane fade" id="bonus">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="glyphicon glyphicon-fire fa-5x text-warning"></i></center>
                      <h3 class="text-center">Bonus #1</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfCals %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span>50%</span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <!-- Weeks Steps 
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">               
                 <div class="panel">
                   <div class="panel-heading"></div>
                   <div class="panel-body">
                    <center><i class="fa fa-heartbeat fa-5x text-success"></i></center>
                    <h3 class="text-center">Bonus #2</h3>
                    <div class="progress">
                      <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfSteps %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span>50%</span>
                      </div>
                    </div>
                   </div>
                 </div>
                </div>
                <!-- Weeks Dist 
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bicycle fa-5x text-danger"></i></center>
                      <h3 class="text-center">Bonus #3</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfDist %> -'%'" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                          <span>50%</span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
                <!-- Weeks Sleep 
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                 <div class="panel">
                   <div class="panel-heading"></div>
                    <div class="panel-body">
                      <center><i class="fa fa-bed fa-5x text-info"></i></center>
                      <h3 class="text-center">Bonus #4</h3>
                      <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="<%= @percentOfDist %> - '%'" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                          <span class="">50%</span>
                        </div>
                      </div>
                   </div>
                 </div>
                </div>
              </div> <!-- Weekly Panel END -->
            <% end %>
            </div>
          </div>

          

          <br>
          </div><!-- /.container -->
  </div><!-- /.container-fluid -->

     <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="text-capitalize"><%= @user.fname %> <%= @user.lname %></h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close fa-2x"></i></button>
          </div>
          <div class="modal-body">
            <!-- Displaying Profile Pic -->
            <% if @user.fitbit_image != nil %>
              <center><%= image_tag @user.fitbit_image, size: "275", class: "img img-thumbnail profile-pic" %></center>
            <% elsif @user.avatar_file_name != nil %>
                <center><%= image_tag @user.avatar.url(:medium), size: "100%", class: "img img-responsive img-thumbnail" %></center>
            <% elsif @user.image != nil %>
                <center><%= image_tag @user.image, width: "100%", class: "img img-responsive img-thumbnail" %></center>
            <% else %>
                <center><%= image_tag "https://s3-us-west-1.amazonaws.com/fithub-development/no-user-image-square.jpg", size: "275", class: "img img-responsive img-thumbnail img-circle" %></center>
            <% end %>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Close</button></div>
        </div>
      </div>
    </div>
    <!--Modal End -->

    <script type="text/javascript">
      $('[data-toggle=dropdown]').dropdown()
    </script>

    <script type="text/javascript">
      function htmlbodyHeightUpdate(){
      var height3 = $( window ).height()
      var height1 = $('.nav').height()+50
      height2 = $('.main').height()
      if(height2 > height3){
        $('html').height(Math.max(height1,height3,height2)+10);
        $('body').height(Math.max(height1,height3,height2)+10);
      }
      else
      {
        $('html').height(Math.max(height1,height3,height2));
        $('body').height(Math.max(height1,height3,height2));
      }
      
    }
    $(document).ready(function () {
      htmlbodyHeightUpdate()
      $( window ).resize(function() {
        htmlbodyHeightUpdate()
      });
      $( window ).scroll(function() {
        height2 = $('.main').height()
          htmlbodyHeightUpdate()
      });
    });
    </script>
    <script type="text/javascript">
      function swapActiveButton (buttonId){
        $('#today-btn').removeClass("active");
        $('#month-btn').removeClass("active");
        $('#bonus-btn').removeClass("active");
        $('#'+buttonId).addClass("active");  
      }
    </script>
  </body>
</html>