<html>
  <head>
    <title>Edit Profile</title>
  </head>
  <body data-spy="scroll" data-target=".navbar-example" style="position: relative;">
    <br>
    <div class="container">
      <div class="well well-lg">     
        <div class="row">  
          <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">          
              <!-- Profile Picture -->
              <a type="button" data-toggle="modal" data-target="#myModal" class="btn">
                <% if @user.avatar_file_name %>
                  <%= image_tag @user.avatar.url(:medium), size: "225", class: "img img-thumbnail img-rounded profile-pic img-responsive" %>
                <% elsif @user.image %>
                  <%= image_tag @user.image, size: "225", class: "img img-thumbnail img-rounded profile-pic img-responsive" %>
                <% elsif @user.fitbit_image %>
                  <%= image_tag @user.fitbit_image, size: "225", class: "img img-thumbnail img-rounded profile-pic img-responsive" %>
                <% else %>
                  <%= image_tag "https://s3-us-west-1.amazonaws.com/fithub-development/no-user-image-square.jpg", size: "225", class: "img img-thumbnail img-responsive img-rounded profile-pic" %>
                <% end %>
              </a>
          </div>
          <div class="col-xs-12 col-sm-10 col-md-8 col-lg-8">
            <h1 class="text-capitalize"><%= @user.fname %> <%= @user.lname %><br><small class="text-lowercase">(<%= @user.email %>)</small></h1><br>
            <% if @user.fb_link != nil || @user.tw_link != nil || @user.ig_link != nil %>
              <!--<div class="panel">
                <div class="panel-body">
                <!-- Social Buttons -->
                <% if @user.fb_link != nil %>
                  <%= link_to @user.fb_link, class: "btn" do %>
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-circle fa-stack-2x" style="color: #3b5998;"></i>
                      <i class="fa fa-facebook fa-stack-1x fa-inverse"></i> <!--Facebook-->
                    </span>
                  <% end %>
                <% end %>
              
                <% if @user.tw_link != nil %>
                  <%= link_to @user.tw_link, class: "btn" do %>
                    <i class="fa fa-twitter-square fa-2x" style="color: #4793b9;"></i>
                  <% end %>
                <% end %> 
                
                <% if @user.ig_link != nil %>
                  <%= link_to @user.ig_link, class: "btn btn-lg" do %>
                    <i class="fa fa-instagram fa-2x" style="color: #004f7e;"></i>
                  <% end %>
                <% end %>
                <!--</div>
              </div>-->
            <% end %>
          </div>  
        </div>
      </div>

      <!-- Modal for User Image -->
      <div class="modal fade" id="" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel"><%= @user.fname %> <%= @user.lname %></h4>
            </div>
            <div class="modal-body">
              <center><%= image_tag @user.avatar.url, class: "img img-responsive" %></center>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!--Modal End -->

      <div class="panel panel-default">
        <div class="panel-heading"><h4><i class="fa fa-edit"> Edit Profile</i></h4></div>
          <div class="panel-body">
            <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
              <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Account Details</h3></div>
                <div class="panel-body navbar-example">
                  <ul class="nav nav-pills nav-stacked page-scroll" role="pilllist">
                    <li><a href="#info" class="nav-link page-scroll smooth-scroll">Basic Info</a></li>
                    <li><a href="#email-password" class="nav-link page-scroll smooth-scroll">Email & Password</a></li>
                    <li><a href="#deactivate" class="nav-link page-scroll smooth-scroll">Deactivate</a></li>
                    
                    <!-- Connect to Facebook -->
                    <% if @user.fb_link == nil %>
                      <li>
                        <%= link_to omniauth_authorize_path(current_user, :facebook) do %>
                        <button class="btn btn-default btn-block">Connect Facebook</button>
                        <% end %>
                      </li>
                    <% end %>

                    <!-- Connect to Fitbit -->
                    <% if @user.fitbit_id == nil %>
                      <li>
                        <%= link_to omniauth_authorize_path(current_user, :fitbit) do %>
                        <button class="btn btn-default btn-block">Connect Fitbit</button>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
          </div>
        </div>
        <div class="panel panel-default" id="deactivate">
          <div class="panel-heading"><h3 class="panel-title">Account Management</h3></div>
            <div class="panel-body">
              <center>
                <p>
                <%= link_to "Deactivate Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "btn btn-danger btn-block" %>
                </p>
              </center>
            </div>
        </div>
      </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
              
              <!--Basic Info panel-->
              <div class="row">
                <div class="panel panel-default" id="info">
                  <div class="panel-heading"><h3 class="panel-title">Basic Info</h3></div>
                    <div class="panel-body">
                      <%= bootstrap_form_for @user do |f| %>

                          <%= f.text_field :fname, autofocus: true, label: "First Name", class: "text-capitalize" %>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>

                          <%= f.text_field :lname, autocomplete: "off", label: "Last Name", class: "text-capitalize" %>

                          <%= f.text_area :about, label: "About" %>

                          <%= f.file_field :avatar, label: "Upload an Avatar" %>
                        
                        <div class="actions">
                          <%= f.submit "Save", class: "btn btn-success" %>
                        </div>
                      <% end %>
                    </div>
                </div>
              </div>

              <!-- Email & Password panel-->
              <div class="row">
                <div class="panel panel-default" id="email-password">
                  <div class="panel-heading"><h3 class="panel-title">Email & Password</h3></div>
                    <div class="panel-body">
                      <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                        <%= devise_error_messages! %>

                          <%= f.email_field :email, autofocus: true %>

                        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                        <% end %>

                        <div class="field">
                          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                          <%= f.password_field :password, autocomplete: "off", hide_label: true %>
                        </div>

                          <%= f.password_field :password_confirmation, autocomplete: "off", label: "Password Confirmation" %>

                        <div class="field">
                          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                          <%= f.password_field :current_password, autocomplete: "off", hide_label: true %>
                        </div>

                        <div class="actions">
                          <%= f.submit "Save", class: "btn btn-success" %>
                        </div>
                      <% end %>
                    </div>
                </div>
              </div>
              <div class="row">

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
